$primaryColor: #99cc00;
$mainWidth: 1332px;
$bgColor: #f5f8fa;

@mixin radiusBox($top: auto, $right: auto, $bottom: auto, $left: auto, $color: $primaryColor, $dir: left) {
  content: '';
  display: block;
  width: 414px;
  height: 468px;
  @if $dir == right {
    border-radius: 0px 167.2px 0px 150px;
  }
  @if $dir == left {
    border-radius: 160px 0px 160px 0px;
  }
  border: 1px solid $color;
  position: absolute;
  top: $top + px;
  right: $right + px;
  bottom: $bottom + px;
  left: $left + px;
  z-index: -1;
}
